.demographics {
    
}

.demographics__input {
    max-width: 700px;
}

.demographics__result-container {
    overflow: hidden;
}

.demographics__image-box {
    width: fit-content;
    margin: 0 auto;
}

.demographics__face-box {
    border: 2px solid;
    position: absolute;
    display: block;
}

.demographics__face-box:hover  {
    border: 2px solid red !important;
    cursor: pointer;
}

.demographics__accordion-heading:hover {
    background-color: #4d80ee !important;
    cursor: pointer;
}

.even {
    background-color: #4d80ee;
}

.odd {
    background-color: #759df5;
}

div.active {
    border: 2px solid red !important;
}


@media (max-width: 576px ) {
    .demographics__heading {
        font-size: 24px;
    }
}