.demographics__input {
    max-width: 700px;
}

.demographics__result-container {
    overflow: hidden;
}

.demographics__face-box {
    border: 2px solid;
    position: absolute;
    display: block;
}

.demographics__face-box:hover  {
    border: 2px solid red !important;
    cursor: pointer;
}